<div class="row">
	<div class="col-md-8">
		<%= form_for @article do |f| %>
			<div class="form-group">
				<%= f.label :title %> <%= f.text_field :title, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :summary %> <%= f.text_field :summary, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :text %> <%= f.text_area :text, {class: "form-control", style: "height: 200px;"} %>
			</div>
			<div class="form-group">
				<%= f.label :author %> <%= f.text_field :author, {class: "form-control"} %>
			</div>
			<strong>Published:</strong> <label class="radio-inline"><%= f.radio_button :visible, true %>Yes</label><label class="radio-inline"><%= f.radio_button :visible, false %>No</label>
			<div class="form-group" style="padding-top:5px;"><%= f.submit "Submit", class: "btn btn-primary" %></div>
		<% end %>
	</div>
	<div class="col-md-4">
		<h3>Stuff goes here</h3>
	</div>
</div>