<p><%= link_to "New Category", new_category_path, {class: "btn btn-default"} %></p>

<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Options</th>
	</tr>
	<% @categories.each do |category| %>
		<tr>
			<td class="col-md-9"><%= category.title %></td>
			<td class="col-md-3"><%= link_to "Show", category_path(category.id), {class: "btn btn-primary"} %> <%= link_to "Edit", edit_category_path(category.id), {class: "btn btn-warning"} %> <%= link_to "Delete", category_path(category.id), {class: "btn btn-danger", method: :delete} %></td>
		</tr>
	<% end %>
</table>