<h2>Showing articles with category "<%= @category.title %>"</h2>

<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Summary</th>
		<th>Edited on</th>
		<th>Category</th>
		<th>Options</th>
	</tr>
	<% @articles.each do |article| %>
		<tr>
			<td class="col-md-2"><%= truncate(article.title, length: 200) %></td>
			<td class="col-md-4"><%= article.summary %></td>
			<td class="col-md-1"><%= raw article.updated_at.strftime("%m/%d/%y<br/>%l:%M %p") %></td>
			<td class="col-md-2"><%= article.category.title %></td>
			<td class="col-md-3"><%= link_to "Show", article_path(article.id), {class: "btn btn-primary"} %> <%= link_to "Edit", edit_article_path(article.id), {class: "btn btn-warning"} %> <%= link_to "Delete", article_path(article.id), {class: "btn btn-danger", method: :delete} %></td>
		</tr>
	<% end %>
</table>