<!DOCTYPE html>
<html>
  <head>
    <title>CMShizzle</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <%= javascript_include_tag "//cdn.tinymce.com/4/tinymce.min.js" %> -->

  </head>

  <body>

  <!-- navbar stuff -->
  	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<%= link_to "CMShizzle", root_path, {class: 'navbar-brand'} %>
  			</div>
  			<ul class="nav navbar-nav">
  				<li><%= link_to "Articles", articles_path %></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">

            <% Category.all.each do |category| %>
              <li><%= link_to category.title, category_path(category.id) %></li>
            <% end %>

            <li role="separator" class="divider"></li>

            <li><%= link_to "Edit categories", categories_path %></li>

            </ul>
          </li>
  			</ul>
  		</div>
  	</nav>

    <!-- main content yield -->
    <div class="container">

      <!-- alerts and stuff -->
      <% if flash[:success] %>
        <% flash[:success].each do |success| %>
          <div class="alert alert-success" role="alert"><%= success %></div>
        <% end %>
      <% end %>

      <% if flash[:error] %>
        <% flash[:error].each do |error| %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% end %>
      <% end %>

      <!-- main yield -->
    	<%= yield %>

      <!-- footer -->
      <div class="panel panel-primary text-center small" style="margin:20px 0;padding:10px;">
        Copyright &copy;2016 Payton Carter. All Rights Reserved.
      </div>

    </div>

    <script>tinymce.init({
      selector: 'textarea',
      height: 500,
      menubar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      content_css: '//www.tinymce.com/css/codepen.min.css'});</script>

  </body>
</html>
